# editorconfig.org
# Note: not all editors support editorconfig out of the box
# Be sure to install the necessary plugin for compatibality with your editor.

root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset= utf8
trim_trailing_whitespace = true
insert_final_newline = false

[*.md]
trim_trailing_whitespace = false
